
@import '../vars.scss';

.home-section {

    img {
        width: 100%;
    }
    
    h3 {
        border-bottom: 3px solid $text-color;;
        padding-top: 5px;
        line-height: 48px;
        display: inline-block;
        padding: 10px 30px;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 50px;
        margin-top: 0;
    }
    
    .rsvp-button {
        margin-top: 50px;
        display: inline-block;
        
        & > button {
            font-size: 24px;
        }
    }
    
    .plan {
        img {
            width: 42px;
        }
        a {
            color: inherit;
        }
        .plan-item {
            display: flex;
            align-items: center;
            justify-content: center;
            
            & > span {
                flex: 1;
                margin: 10px 20px;
                max-width: 250px;
                
                &.time {
                    text-align: right;
                    font-size: 48px;
                    font-weight: 700;
                }
                
                &.plan {
                    text-align: left;
                    font-size: 20px;
                }
            }
        }
    }
}