.app {
    text-align: center;
    background-image: url('../imgs/floral_head.png');
    background-position: center top, center top;
    background-repeat: no-repeat, no-repeat;
    color: #3F5647;
    .app-header {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .app-title {
            font-size: 1.5em;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            &>span:nth-of-type(2) {
                font-family: cursive;
            }
        }
    }
}