@font-face {
    font-family: 'Sharp Sans';
    src: url(fonts/SharpSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Sharp Sans';
    src: url(fonts/SharpSans-Semibold.otf) format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Sharp Sans';
    src: url(fonts/SharpSans-Extrabold.otf) format('opentype');
    font-weight: 700;
}

html {
    height: 100%;
    body {
        margin: 0;
        padding: 0;
        font-family: 'Sharp Sans', sans-serif;
        color: #3E5244;
        font-weight: normal;
        overflow-x: hidden;
        overflow-y: visible;
        height: 100%;

        #root {
            height: 100%;
            display: flex;
            flex-direction: column;

            &> div {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            button {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                padding: 12px;
                background: none;
                position: relative;
                border: none;
                cursor: pointer;
                transition: all 0.2s linear;
                &:before,
                &:after {
                    transition: all 0.1s linear;
                    border: 2px solid #3f5647;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                &:after {
                    left: 0;
                    top: 0;
                }
                &:before {
                    left: -4px;
                    top: -4px;
                }
                &:focus {
                    outline: none;
                }
                &:active {
                    border-style: none;
                    background-color: grey;
                }
                &:hover,
                &:active {
                    &:after {
                        left: 1px;
                        top: 1px;
                    }
                    &:before {
                        left: -5px;
                        top: -5px;
                    }
                }
                &.active {
                    background-color: #3f5647;
                    color: white;
                }
            }
        }

        footer {
            display: flex;
            align-items: flex-start;
            img {
                width: 100%;
            }
        }
    }
}